body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}
#content {
    height: 90vh;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.card {
    font-size: 16px;
    border: 1px black solid;
    margin: 5px;
    padding: 5px;
}